
.input-group-btn:not(:last-child) > .btn, .input-group-btn:not(:last-child) > .btn-group {
    margin-right: 0px;
}
.input-group-btn:not(:first-child) > .btn:first-child, .input-group-btn:not(:first-child) > .btn-group:first-child {
    margin-left: 0px;
}
.input-disabled {
    background-color: #e1e1e1;
}
.form-control:focus {
    box-shadow: none;
}
.btn-secondary {
    color: #005888;
    background-color: #fff;
    border-color: #ccc;
}
.btn-secondary:focus, .btn-secondary.focus {
    box-shadow: none;
}
.validation-error {
    border-color: #d62828;
    background-color: #f8dede;
}
.validation-error-message {
    color: #a94442;
}