
<nav class="navbar mb-5">
  <a class="navbar-brand" href="#">
    <img height="30" alt="Strongmind Logo" src="./assets/logo_white-text.svg">
  </a>
</nav>
<div class="container">
    <h1>
      Welcome to the StrongMind Component Demo!
    </h1>
    <p>The StrongMind Component Suite is an open source toolkit for developing with HTML, CSS, and Angular v2.0. Quickly integrate prebuilt StrongMind-styled components.</p>
    
    <h3>Requirements</h3>
    <p>Angular 2.0.0+ <a href="target=_blank" href="https://angular.io">(https://angular.io)</a></p>
    
    <h3>UI Dependency</h3>
    <p>None</p>
    
    <h3>Installation</h3>
    <p><figure class="highlight"><pre><code class="language-sh" data-lang="sh">npm install sm-angular-component-suite -save</code></pre></figure></p>
    
    <h3>Basic Usage</h3>
    <p>
      Import the desired [components] in your `app.module` and add it to the declarations array.
      Alternatively, you can import desired [components] to a shared module to make it available across all modules in your Angular application.
    </p>
    <app-code-usage></app-code-usage>
    <app-number-picker-usage></app-number-picker-usage>
  </div>