<h2>Number Picker Component</h2>

<h3>Implementation</h3>

<h4>Typescript</h4>

<div>
  <p>
    <code>
      import &#123; NumberPickerComponent &#125; from 'sm-angular-component-suite/components';
    </code><br/>
    <code>
      import &#123; AppComponent &#125; from './app.component';
    </code>
  </p>
  <p>
    <code>
      @NgModule(&#123;<br/>
      &nbsp;&nbsp;&nbsp;declarations: [<br/>
      &nbsp;&nbsp;&nbsp;AppComponent,<br/>
      &nbsp;&nbsp;&nbsp;NumberPickerComponent<br/>
      &nbsp;&nbsp;&nbsp;],<br/>
      &nbsp;&nbsp;&nbsp;imports: [<br/>
      &nbsp;&nbsp;&nbsp;...<br/>
      &nbsp;&nbsp;&nbsp;],<br/>
      &nbsp;&nbsp;&nbsp;providers: [],<br/>
      &nbsp;&nbsp;&nbsp;bootstrap: [AppComponent]<br/>
      </code>
      <code>
      &#125;)<br/>
      </code>
      <code>
      export class AppModule &#123; &#125;
    </code>
  </p>
  <p>Add the <code>&lt;sm-angular-*&#47;&gt;</code> directive to the page where you want to use a component.</p>
</div>
